html,

body {
  background-color: lightblue;
  height: 100%;
  overflow: hidden;
  
  line-height: 0.5em;
  text-align: center;
  font-size: 1.5em;
  
}
#title {
background-image: url("https://en.m.wikipedia.org/wiki/Iceberg#/media/File%3AAntarctic_Sound-2016-Iceberg_02.jpg");  
}
h5 {
  background-color: lightgreen;
  border: 2px solid lemonchiffon;
  
  line-height: 1em;
}
#invisblue {
  color: lightgreen;
}
.circle {
  border-radius: 50%;
}
p {
  text-align: left;
}
#fact {
  background-color: lightskyblue;
  border: 2px solid navy;
}
.facts {
  line-height: 1.25em;
  
  height: 100%;
  position: relative;
overflow-y: scroll;  
}
  
