html,

body {
  background-color: lightblue;
  line-height: 0.5em;
  text-align: center;
  font-size: 1.5em;
  
}

h5 {
  background-color: rgb(20,50,200);
  line-height: 1em;
}

img {
  border-radius: 50%;
}
