html,

body {
  background-color: lightblue;
  height: 100%;
  overflow: hidden;
  
  border: solid navy 5px;
  
  line-height: 0.5em;
  text-align: center;
  font-size: 1.5em;
  
}

h5 {
  background-color: lightgreen;
  border: solid lemonchiffon 2px;
  
  line-height: 1em;
}
#invisgreen1 {
  color: lightgreen;
}

img {
  border-radius: 50%;
}
p {
  text-align: left;
}
#fact {
  background-color: lightskyblue;
  border: solid navy 2px;
}
.facts {
  line-height: 1.25em;
  
  height: 100%;
  position: relative;
overflow-y: scroll;  
}
  
